
<div class="dm-screen">
  <aside class="dm-nav">
    <button id="generate-npc">Generate NPC</button>
    <button id="create-npc">Create Actor</button>
    <hr>
    <h3>Spell Tracker</h3>
    {{#if actor}}
      {{#each spellData.slots}}
        <button class="spell-use" data-level="{{@key}}">Use Slot {{@key}}</button>
      {{/each}}
      <button id="toggle-concentration">
        Concentration: {{#if spellData.concentration}}ON{{else}}OFF{{/if}}
      </button>
    {{else}}
      <p>No actor selected</p>
    {{/if}}
  </aside>

  <section class="dm-content">
    {{#if npc}}
    <h2>{{npc.name}} ({{npc.race}} {{npc.role}})</h2>
    <p>Level {{npc.level}}</p>
    <p>HP: {{npc.hp}} | AC: {{npc.ac}}</p>
    <ul>
      {{#each npc.abilities}}
        <li>{{@key}}: {{this}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>Generate an NPC to begin.</p>
    {{/if}}
  </section>
</div>
